
<div class="card mb-5">
    <div class="card-content">
	<div class="media">
	    <div class="media-left">
		<figure class="image is-48x48">
		    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
		</figure>
	    </div>
	    <div class="media-content">
		<p class="title is-4">IceHPLoard</p>
		<p class="subtitle is-6">@icehploard</p>
	    </div>
	</div>

	<div class="content">
	    <p> My name is Binglin Li and this is my blog.</p>
	    <p>I am a truck driver and focus on paying off debts and raising children</p>
	    <p>I currently live and work in Changsha, Hunan Province, China</p>

	    <br>
	    <time datetime="2016-1-1">11:09 PM - 1 Jan 2023</time>
	</div>
    </div>
</div>
