<div class="w3-container w3-white w3-padding-32">

    <div class="w3-row-padding">
      <!-- HEADER  -->
      <header class="w3-container w3-center w3-padding-48 w3-white">
	<h3 class="w3-xxlarge"><b><%= page.title %></b></h3>
	<h5>
	  <i class="fa fa-calendar fa-fw w3-margin-right"></i>
	  <span class="w3-opacity"></i><%- full_date(page.date,'MMMM Do YYYY') %></span>
	</h5>
      </header>

      <!-- IMAGE HEADER -->
      <header class="w3-card-4 w3-margin">
	<div class="w3-display-container w3-text-white">

	  <img class="w3-image" src="<%- url_for('/imgs/home-01.jpg') %>" alt="Fashion Blog">

	  <div class="w3-display-left w3-padding-large">
	    <h1 class="w3-text-white">Binglin Li's</h1>
	    <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
	    <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off"
			       onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
	  </div>

	</div>
      </header>

      <span>
	<%- page.content%>
      </span>

    </div>
</div>
