<div class="container">

      <div class="text-center">
        <h3><%= page.title %></h3>
        <h6 class="opacity-50">
	    <span class="fonts-2 badge text-bg-secondary">
		<i class="bi bi-calendar-date"> </i><%- full_date(page.date,'MMMM Do YYYY') %>
	    </span>

	    <a href="" class="badge text-bg-secondary">
		<i class="bi bi-tag"> </i>
		<span>Tags</span>
	    </a>
	</h5>
      </div>

	<span>
	  <%- page.content%>
	</span>

	<div class="container opacity-75 row">

	    <div class="col">
		<button type="button" class="btn btn-secondary position-relative">
		    喜欢
		    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
			<b><i class="fa fa-thumbs-up"></i></b>
			<span class="visually-hidden">unread messages</span>
		    </span>
		</button>
	    </div>
	    <div class="col">
		<button type="button" class="btn btn-secondary position-relative">
		    评论
		    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
			<b>3</b>
			<span class="visually-hidden">unread messages</span>
		    </span>
		</button>
	    </div>
	</div>

	<br class="b-example-divider">
	<br class="b-example-divider">
</div>
