<nav class="navbar is-light mb-5" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
	<a class="navbar-item" href="/">
	    <img src="https://bulma.io/images/bulma-logo.png"
		 alt="Bulma: a modern CSS framework based on Flexbox"
		 width="112" height="28">
	</a>

	<a role="button"
	   class="navbar-burger"
	   aria-label="menu"
	   aria-expanded="false"
	   data-target="navbarBasicExample">

	    <span aria-hidden="true"></span>
	    <span aria-hidden="true"></span>
	    <span aria-hidden="true"></span>
	</a>
    </div>

    <div class="navbar-menu">

	<div class="navbar-start">

	    <% for (var i in theme.menu){ %>
		<a class="navbar-item" href="<%- url_for(theme.menu[i]) %>">
		    <%= i %>
		</a>
	    <% } %>
	</div>

	<div class="navbar-end">
	    <div class="navbar-item">
		<div class="field is-grouped">
		    <p class="control">
			<a class="bd-tw-button button is-primary"
			   data-social-network="Github"
			   data-social-action="github"
			   data-social-target="https://binglinli.github.io"
			   target="_blank"
			   href="https://binglinli.githun.io">
			    <span class="icon">
				<i class="fa-brands fa-github"></i>
			    </span>
			    <span>
				Github
			    </span>
			</a>
		    </p>
		</div>
	    </div>
	</div>

    </div>

</nav>
