<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">冰心阁主</span>
    </a>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
    </form>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link px-4 link-secondary" aria-current="page">主页</a></li>
        <li class="nav-item"><a href="/archives" class="nav-link px-4 link-dark">归  档</a></li>
        <li class="nav-item"><a href="/categories" class="nav-link px-4 link-dark">分  类</a></li>
        <li class="nav-item"><a href="/docs" class="nav-link px-4 link-dark">文  档</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-4 link-dark">关于我</a></li>
    </ul>
</header>
